<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe4fpn1UiIXsJ_y4dlpUTpuooOA9dAJ8A</string>
	<key>GCM_SENDER_ID</key>
	<string>97470616158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.presents.demo</string>
	<key>PROJECT_ID</key>
	<string>ouvriers-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>ouvriers-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97470616158:ios:84d50284f36ec5fb571acf</string>
</dict>
</plist>